.App {
  background-color: "blue";
  text-align: left;
  justify-content: left;
  padding: 30px;
}
.button {
  color: "sky-blue";
}
.notes {
  color: "pink";
  box-sizing: 30px;
  border-radius: 10px;
  white-space: pre-wrap;
}
